
__pycache__/batch_gui.cpython-39.pyc
.DS_Store
.idea/batchPy.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
__pycache__/batch_backend.cpython-39.pyc
*.pyc
